:root {
    --main-content-col-width: 14%;
    --h1-font-size: calc(12px + 3vw);
    --h2-font-size: calc(12px + 2vw);
    --h3-font-size: calc(12px + 1vw);
    --h4-font-size: calc(12px + 0.5vw);


    --h1-letter-spacing: calc(12px + 3vw);
    --h2-letter-spacing: calc(12px + 2vw);
    --h3-letter-spacing: calc(12px + 1vw);

}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}


/* header */
header {
    height: 85px;
    background: #F9F9F9;
    width: auto;
    position: relative;
    z-index: 200;
}

#headerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Joseph Hailu */
.headerBrand {
    display: flex;
    flex: auto;
    align-items: center;
    white-space: nowrap;
}

.headerLogo {
    margin-right: 10%;
}

.headerLogo svg {
    width: 50px;
}

.headerText {
    font-weight: bold;
    font-size: var(--h4-font-size);
    line-height: 28px;
    letter-spacing: 0.145em;
}

/* navLinks */
.navLinks {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    white-space: nowrap;
}

.navLink {
    list-style: none;
    font-size: var(--h4-font-size);
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-left: 5%;
}


/**********************/
main {
    padding-top: 85px;
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    position: relative;
}

#heroContainer {
    background-color: #E4E7F2;
    padding: 2% 0 2% 0;
}

#heroWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heroText {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

#headLine {
    font-weight: bold;
    font-size: var(--h1-font-size);
    line-height: var(--h1-letter-spacing);
    letter-spacing: 0.01em;
}


#heroSeparator {
    margin: calc(12px + 1vw) 0px;
    border: 9px solid #9AD5CA;
    background-color: #9AD5CA;
}

.tagLine {
    font-size: var(--h3-font-size);
    letter-spacing: 0.01em;
    color: #5A887F;

}

.heroSvg {
    width: 25%;

}

#projectContainer {
    margin-top: 10%;
}

.projects {
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
}


/* See some of my work */
.sectionHeadLine {
    display: inline-block;
    font-weight: bold;
    font-size: var(--h2-font-size);
    line-height: 56px;
    letter-spacing: 0.01em;
}

.sectionTitle {
    width: auto;
}

.projectSeparator {
    margin: 14px 0px;
    width: auto;
    border: 9px solid #ADB9E3;
}


.projects {
    display: flex;
    flex-direction: column;
    margin: auto;

}

.project {
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: row;
}

.projectVisual,
.projectInfo {
    margin: 10px;

}


.projectVisual a img,
.projectInfo {
    max-width: 90%;

}

.projectTitle {
    font-size: var(--h2-font-size);
    line-height: var(--h1-letter-spacing);
    letter-spacing: 0.01em;
}

.projectDescription {
    /* A JavaScript visualization made with the d3.js library that allows users to choose a specific statistic and view the change over time by dragging a slider to a specific date. Technologies used: JavaScript, d3.js, html, css */
    margin: 14px 0px;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.01em;
}


.projects:nth-child(odd) {}


.aboutSeparator {
    margin: 14px 0px;
    width: auto;
    border: 9px solid #9AD5CA;
}

.timeline {
    margin-top: 2%;
}

.backgroundSVG {
    z-index: -10;
    position: absolute;
    width: 100%;
}

.backgroundSVG svg {
    width: 100%;
}

.backgroundSVG:nth-child(odd) {
    /* width: 100%;
    position: absolute;
    top: 900px;
    z-index: -1; */
}

.backgroundSVG:nth-child(even) {
    /* width: 100%;
    position: absolute;
    z-index: -1; */
}