:root {
    --main-content-col-width: 14%;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}


/* header */
header {
    height: 85px;
    background: #F9F9F9;
    width: auto;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Joseph Hailu */
.headerBrand {
    flex-grow: .057891;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;


}

.headerLogo {
    margin-right: 5%;
}

.headerLogo svg {
    width: 50px;
}



.headerText {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.145em;
}

/* navLinks */
.navLinks {
    /* margin-left: 35px;
    min-width: 450px;

    display: flex;
    align-items: center;
    justify-content: space-around; */

}

.navLinks li {
    /* list-style: none;
    font-size: 18px;
    letter-spacing: 0.03em; */

}


/**********************/
main {
    width: 80%;
    margin: auto;
    padding: 85px 0 0 0;
}

.container {
    width: 100%;

}

#heroContainer {
    background-color: #E4E7F2;
}


.hero {
    min-height: 30.4375vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.heroText {
    width: 508px;
    display: flex;
    flex-direction: column;
}

#headLine {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;

    letter-spacing: 0.01em;
}

#heroSeparator {
    margin: 14px 0px;
    max-width: 508px;
    border: 9px solid #9AD5CA;

}

.tagLine {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #5A887F;

}


.heroSvg {
    width: 25%;
    max-width: 623px;
}

.projects {
    max-width: 80%;
    margin-top: 15vh;
    display: flex;
    justify-content: space-evenly;
}


/* See some of my work */
.sectionHeadLine {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.01em;
}

.sectionTitle {
    margin: 15vh auto 0 auto;
}

#sectionTitle2 {
    float: right;

}


.projectSeparator {
    margin: 14px 0px;
    max-width: 508px;
    border: 9px solid #ADB9E3;
}


.projects {
    display: flex;
    flex-direction: column;
    margin: auto;

}


.project {
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: row;

}




.projectVisual,
.projectInfo {
    margin: 10px;

}


.projectVisual a img,
.projectInfo {
    max-width: 90%;

}



.projectTitle {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.01em;
}

.projectDescription {
    /* A JavaScript visualization made with the d3.js library that allows users to choose a specific statistic and view the change over time by dragging a slider to a specific date. Technologies used: JavaScript, d3.js, html, css */
    margin: 14px 0px;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.01em;



}




.projects:nth-child(odd) {}




.aboutSeparator {
    margin: 14px 0px;
    width: 508px;
    border: 9px solid #9AD5CA;
}

.backgroundSVG {
    z-index: -1;
}

.backgroundSVG:nth-child(odd) {
    width: 100%;
    position: absolute;
    top: 900px;
    z-index: -1;
}

.backgroundSVG:nth-child(even) {
    width: 100%;
    position: absolute;

    z-index: -1;
}