/*  
 */
@media only screen and (max-width:1000px) {
    .project {
        background-color: lightblue;
        width: 100%;
        flex-wrap: wrap-reverse;

    }

    .project .projectVisual {
        text-align: center;
    }
}

@media only screen and (max-width:600px) {
    .projectDescription {
        display: none;

    }


}