/*  
 */
@media only screen and (max-width:1000px) {
    .project {
        width: 100%;
        flex-wrap: wrap-reverse;
        margin: 20% auto;
    }


}

@media only screen and (max-width:564px) {
    .projectDescription {
        display: none;

    }

    .navLinks {
        display: none;
    }


    .headerText {
        font-weight: bold;
        font-size: var(--h2-font-size);
        line-height: 28px;
        letter-spacing: 0.145em;
        margin-left: 10%;
    }

}