/*  
 */
@media only screen and (max-width:1000px) {
    .project {
        width: 100%;
        flex-wrap: wrap-reverse;
        margin: 20% auto;
    }

    .project .projectVisual {}
}

@media only screen and (max-width:600px) {
    .projectDescription {
        display: none;

    }


}